.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid navy;
  height: 40%;
  width: 90%;
}

.password-field {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.password {
  width: 80%;
  height: 35%;
  margin: auto;
}

.forgot-password-link {
  height: 36px;
  text-decoration: underline;
}

.error {
  color: red;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}

.password-show {
  color: red;
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

.actions,
.order-create,
.order-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid navy;
  width: 90%;
}

.order-create {
  margin: 5% auto;
}

.order-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-value {
  color: #00b4d2;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 5px;
}

.date-value {
  font-style: italic;
  font-size: 10px;
}
