.bill-container {
  display: flex;
  margin: auto;
  padding: 2%;
}

.item-listing-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 25%;
  align-items: center;
}

.table-cart {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5%;
}

.table-cart-header {
  display: flex;
  justify-content: space-evenly;
}

.table-cart-body {
  display: flex;
  flex-direction: column;
}

.table-cart-body-row,
.table-cart-body-column {
  display: flex;
}

.table-cart-header-column,
.table-cart-body-column {
  border: 1px solid;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.table-cart-header-column:first-child,
.table-cart-body-column:first-child {
  flex: 0.5;
}

.table-cart-header-column:nth-child(2),
.table-cart-body-column:nth-child(2) {
  flex: 3;
}

.table-cart-actions {
  display: flex;
  justify-content: space-between;
}
